.section-container{
    position: absolute;
    height: 100%;
    width: calc(100% - 340px);
    left: 340px;
    transition: all 0.3s ease;
}
.section_content{
    font-size: 25px;
    font-weight: 500;
    color: #707070;
    margin: 20px;
}
/* heading text section  */
.text h3,
.text p{
    text-align: center;
}

.booking-box-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 20px;
}

.box{
    margin-bottom: 20px;
    background: #f2e5f4;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: #DDD;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;

}

 .event_type strong{
    font-size: 3rem;
    letter-spacing: 20px;
    color: #979797;
    text-align: center;
}

.left{
    font-size: 1rem;
    letter-spacing: 0.5px;
    /* color: #979797; */
    text-align: left;
    transform: translateY(-20px);
}

.right{
    font-size: 1rem;
    letter-spacing: 0.5px;
    /* color: #979797; */
    text-align: right;
    transform: translateY(-60px);
}

.event_type h2{
    padding-top: 1rem;
    font-size: 2rem;
    letter-spacing: 0.5px;
}

.event_type p{
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 0.5px;
}

.event_type h4{
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    padding-bottom: 0.5rem;
}

.event_type i{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px; 
    color: #fcf9f9; 
    background-color: #74f0a7; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
}

@media (max-width: 1060px) {
    .box{
        width: 75%;
        padding: 10px;
    }
}

@media (max-width: 790px) {
    .text h3,
    .text p{
        font-size: 1.2rem;
    }

    .box{
        width: 100%;
    }

    .event_type strong{
        font-size: 1.2rem;
    }
    
    .event_type p{
        font-size: 0.9rem;
    }
    
    .event_type h4{
        font-size: 0.9rem;
    }

    .event_type h2{
        font-size: 1rem;
    }
   
}

@media (max-width: 340px) {
    .text h3,
    .text p{
        font-size: 0.8rem;
    }

}